# Q1 
What value is displayed when the last expression (a) is evaluated? Explain your
answer by indicating what happens in every executed statement.

	The value displayed is 6
	On b() a is assiagned to value of c() which returns a + 2 therfore
		1st Statement a is assigned to 0 + 2
		2st Statement a is assigned to 2 + 2
		3rd Statement a is assigned to 4 + 2
AND the output will be 6

In [206]:
a = 0
def b():
    global a
    a=c(a)
    
def c(a):
    return a+2
b()
b()
b()
a

6

# Q2.  
Function fileLength(), given to you, takes the name of a file as input and returns
the length of the file:

In [230]:
def f_Length(fname):
    try:
        file = open(fname)
        contents = file.read()
        file.close()
        print(len(contents))
    except:        
            print("Please enter Valid file name")
            
f_Length('midterm.py')

478

In [231]:
f_Length('class.py')

Please enter Valid file name

# Q3 
Write a class named Marsupial

In [209]:
class Marsupial:
    def __init__(Q3):
        Q3.pouch = []

    def put_in_pouch(Q3, val):
        Q3.pouch.append(val)

    def pouch_contents(Q3):
        print(Q3.pouch)
        
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.pouch_contents()

['doll', 'firetruck', 'kitten']

# Q3  a, b, c
a,     extends the Marsupial __init__ constructor to take, as input, the
coordinates x and y of the Kangaroo object,

b,    supports method jump that takes number values dx and dy as input and
moves the kangaroo by dx units along the x-axis and by dy units along the yaxis,

c,   overloads the __str__ operator

In [210]:
class Kangaroo(Marsupial):
    def __init__(Q3, x, y):
        Q3.pouch = []
        Q3.x = x
        Q3.y = y

    def jump(Q3, dx, dy):
        Q3.x = Q3.x + dx
        Q3.y = Q3.y + dy

    def __str__(Q3):
        return "I am a Kangaroo located at coordinates (" + str(Q3.x) + "," + str(Q3.y) + ")"

k = Kangaroo(0,0)
print(k)

I am a Kangaroo located at coordinates (0,0)

In [211]:
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents()

['doll', 'firetruck', 'kitten']

In [212]:
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)

print(k)

I am a Kangaroo located at coordinates (3,0)

# Q4.
Write function collatz() that takes a positive integer x as input and prints the
Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying
this rule to the previous number x in the sequence:

In [213]:
def collatz(num):
    num = int(num)
    print(num)
    if num == 1:
        return
    if num % 2 == 0:
        collatz(num / 2)
    else:
        collatz(((3 * num) + 1))


collatz(1)

1

In [214]:
collatz(10)

10
5
16
8
4
2
1

# Q5. 
Write a recursive method binary() that takes a non-negative
integer n and prints the binary representation of integer n.

In [215]:
def binary(n):
    n = int(n)
    if n < 2:
        print(n, end=""),
    else:
        binary(n / 2)
        print(n % 2, end=""),
binary(0)

0

In [216]:
binary(1)

1

In [218]:
binary(3)

11

In [219]:
binary(9)

1001

# Q6. 

Implement a class named HeadingParser that can be used to parse an HTML
document, and retrieve and print all the headings in the document. You should
implement your class as a subclass of HTMLParser, defined in Standard Library
module html.parser. When fed a string containing HTML code, your class should
print the headings, one per line and in the order in which they appear in the
document. Each heading should be indented as follows: an h1 heading should have
 indentation 0, and h2 heading should have indentation 1, etc. Test your
implementation using w3c.html.

In [220]:
from html.parser import HTMLParser

In [221]:
class HeadingParser(HTMLParser):
    found = False
    headings = ["h1", "h2", "h3", "h4", "h5", "h6"]
    level = -1

    def handle_starttag(self, tag, attrs): 
        if tag in self.headings: 
            self.found = True
            self.level = self.headings.index(tag)

    def handle_data(self, data):
        if self.found:
            print('\t' * self.level + data)

    def handle_endtag(self, tag): 
        if tag in self.headings:
            self.found = False
            
infile = open('w3c.html')
content = infile.read()
infile.close()
hp = HeadingParser()
hp.feed(content)

W3C Mission
	Principles
		Pinkesh

# Q7. 

Implement recursive function webdir() that takes as input: a URL (as a string) and
non-negative integers depth and indent. Your function should visit every web
page reachable from the starting URL web page in depth clicks or less, and print
each web page's URL. As shown below, indentation, specified by indent, should
be used to indicate the depth of a URL

In [244]:
from urllib.request import urlopen
from urllib.parse import urljoin

In [247]:
urls = []

def webdir(url, depth, indent):
    global site
    urls.append(url)
    print('\t' * indent + url)
    r = requests.get(url)
    s = BeautifulSoup(r.text, "html.parser")

    count = 0
    for i in s.find_all("a"):
        if count == depth:
            break
        href = i.attrs['href']
     

        if href.count(".") == 0:
            if href.count("/") == 1:
                site = url + href
                if site not in urls:
                    count = count + 1
                    webdir(site, depth, indent + 1)
webdir('http://reed.cs.depaul.edu/lperkovic/csc242', 3, 0)

http://reed.cs.depaul.edu/lperkovic/csc242
	http://reed.cs.depaul.edu/lperkovic/csc242lecture1/
	http://reed.cs.depaul.edu/lperkovic/csc242lecture2/
	http://reed.cs.depaul.edu/lperkovic/csc242lecture3/

# Q8

Write SQL queries on the below database table that

In [9]:
import sqlite3

In [10]:
con = sqlite3.connect('CityTBL.db')
cur = con.cursor()
cur.execute("CREATE TABLE IF NOT EXISTS CityTBL (City text, Country text, Season text, Temperature double, Rainfall double)")
cur.execute("INSERT INTO CityTBL VALUES ('Mumbai', 'India', 'Winter', 24.8, 5.9), ('Mumbai','India', 'Spring', 28.4, 16.2), ('Mumbai','India', 'Summer', 27.9, 1549.4), ('Mumbai','India', 'Fall', 27.6, 346.0)")
cur.execute("INSERT INTO CityTBL VALUES ('London', 'United Kindom', 'Winter', 4.2, 207.7), ('London', 'United Kindom', 'Spring', 8.3, 169.6), ('London', 'United Kindom', 'Summer', 15.7, 157.0), ('London', 'United Kindom', 'Fall', 10.4, 218.5)")
cur.execute("INSERT INTO CityTBL VALUES ('Cairo', 'Egypt', 'Winter', 13.6, 16.5), ('Cairo', 'Egypt', 'Spring', 20.7, 6.5), ('Cairo', 'Egypt', 'Summer', 27.7, 0.1), ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)")

In [24]:
cur.execute('SELECT * FROM CityTBL')
cur.fetchall()

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kindom', 'Winter', 4.2, 207.7),
 ('London', 'United Kindom', 'Spring', 8.3, 169.6),
 ('London', 'United Kindom', 'Summer', 15.7, 157.0),
 ('London', 'United Kindom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
 ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
 ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

a)   All the temperature data.

In [11]:
cur.execute('SELECT Temperature FROM CityTBL')
cur.fetchall()

[(24.8,),
 (28.4,),
 (27.9,),
 (27.6,),
 (4.2,),
 (8.3,),
 (15.7,),
 (10.4,),
 (13.6,),
 (20.7,),
 (27.7,),
 (22.2,)]

b) All the cities, but without repetition.

In [12]:
cur.execute('SELECT DISTINCT(City) FROM CityTBL')
cur.fetchall()

[('Mumbai',), ('London',), ('Cairo',)]

c) All the records for India.

In [13]:
cur.execute('SELECT * FROM CityTBL WHERE Country = "India"')
cur.fetchall()

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

d) All the Fall records.

In [14]:
cur.execute('SELECT * FROM CityTBL WHERE Season="Fall"')
cur.fetchall()

[('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kindom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

e) The city, country, and season for which the average rainfall is between 200
and 400 millimeters.

In [16]:
cur.execute('SELECT city, country, season FROM CityTBL WHERE rainfall > 200 AND rainfall < 400')
cur.fetchall()

[('Mumbai', 'India', 'Fall'),
 ('London', 'United Kindom', 'Winter'),
 ('London', 'United Kindom', 'Fall')]

f) The city and country for which the average Fall temperature is above 20
degrees, in increasing temperature order.

In [18]:
cur.execute('SELECT City, Country, AVG(Temperature) FROM CityTBL where Temperature > 20 GROUP BY City, Country HAVING AVG(Temperature) > 20 ORDER By Temperature ASC')
cur.fetchall()

[('Cairo', 'Egypt', 23.53333333333333),
 ('Mumbai', 'India', 27.174999999999997)]

g) The total annual rainfall for Cairo.

In [22]:
cur.execute('SELECT SUM(rainfall) FROM CityTBL WHERE City = "Cairo"')
cur.fetchall()

[(27.6,)]

h) The total rainfall for each season.

In [23]:
cur.execute('SELECT sum(rainfall) FROM CityTBL GROUP BY Season')
cur.fetchall()

[(569.0,), (192.29999999999998,), (1706.5,), (230.1,)]

# Q9

In [237]:
def upper_comprehension(p):
    return str(p).upper()


def lower_comprehension(p):
    return str(p).lower()


def length_comprehension(p):
    return len(str(p))


def upper_lower_length_comprehension(p):
    return [upper_comprehension(p), lower_comprehension(p), length_comprehension(p)]



if __name__ == '__main__':
    words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over',
             'the', 'lazy', 'dog']

    capital = [upper_comprehension(p) for p in words]
    print("\nin Upper letters\n",capital)
    
    small = [lower_comprehension(p) for p in words]
    print("\nin lower letters\n",small)

    ln = [length_comprehension(p) for p in words]
    print("\nlength of words are\n",ln)

    capitalsmallLn = [upper_lower_length_comprehension(p) for p in words]
    print("\nUpper lower and length\n",capitalsmallLn)

    greaterThan4 = [p for p in words if len(p) >= 4]
    print("\nwords in list words containing 4 or more characters\n",greaterThan4)

in Upper letters
 ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

in lower letters
 ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

length of words are
 [3, 5, 5, 3, 5, 4, 3, 4, 3]

Upper lower and length
 [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

words in list words containing 4 or more characters
 ['quick', 'brown', 'jumps', 'over', 'lazy']